<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <!-- <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div> -->

  <app-input label="Username" inputType="text" [control]="authForm.get('username')"></app-input>
  <app-input label="Password" inputType="password" [control]="authForm.get('password')"></app-input>
  <app-input label="Password Confirmation" inputType="password" [control]="authForm.get('passwordConfirmation')"></app-input>
  <div class="ui red basic label" *ngIf="authForm.errors && authForm.get('password').touched && authForm.get('passwordConfirmation').touched">
    <p *ngIf="authForm.errors.passwordsDontMatch">
      Password and Password confirmation must match
    </p>
  </div>
  <button class="ui submit button primary">
    Submit
  </button>
</form>
